@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <div class="col-2">Текст для оценки:</div>
        <div class="col-10">
            <textarea name="text" rows="5" cols="50"></textarea>
            <input type="submit" />
        </div>
        <div class="col-2">Выберите страну:</div>
        <div class="col-5">
            <select name="countryUser" required>
                <option value="RUS">Russia</option>
                <option value="EU">France</option>
                <option value="EU">Germany</option>
                <option value="OTHER">USA</option>
                <option value="OTHER">India</option>
            </select>
        </div>
    </form>
</div>